footer {
      background-color: #aa1429;
}
.title {
    color: #fff;
    font-family: cursive;
}
.footer-p {
  font-family: cursive;
  font-size :small;
  color: #fff;
}
.list{

   font-family: cursive;
  font-size :small;

}
.list > a {
 color: #fff;
  text-decoration: none;
}
