<!-- Footer -->
<footer class="page-footer font-small blue pt-5">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h1 class="title"> Phaedra Botanicals
        </h1>
        <p class="footer-p">Skincare company - natural cosmetics</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 ">

        <!-- Links -->
        <h5 class="text-uppercase">Contact</h5>

        <ul class="list-unstyled list">
          <li class="list">
            <a href="">(+XXX) XX xx xx xx</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Social Media</h5>

        <ul class="list-unstyled">
          <li class="list">
            <a href="">Instagram</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:<h6> Phaedra Botanicals
    </h6>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->