<!--nav bar-->
<nav>
  <div class="navbar nav navbar-fixed-top" id="navbar-nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Phaedra <br><span>Botanicals</span>
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a [routerLink]="['/home']">Home</a>
      <a [routerLink]="['/about-us']">About us</a>
      <a [routerLink]="['/products']">Our Products</a>
    </div>
  </div>
</nav>
<!--nav bar-->