<section>
  <div class=" home">
    <div class="cover-home">
      <!--Home Section-->
      <div class="titel">
        <h1 data-aos="fade-up"> Phaedra Botanicals
          <p>Skincare company - natural cosmetics</p>
        </h1>

        <div class="portfolio-experiment">
          <a><span class="text">Our products</span>
            <span class="line -right"></span>
            <span class="line -top"></span>
            <span class="line -left"></span>
            <span class="line -bottom"></span></a>
        </div>
      </div>
      <div data-aos="fade-up"></div>
      <!--end of Home Section-->
    </div>
  </div>
</section>

<!-- About us Section -->
<section>
  <div class="container about-us">
    <div class=" pt-5 services ">
      <div class="card  card-services animatable bounceInLeft">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../assets/img/photo-1571839918161-7b06ec6a6e4d.jpg" class="card-img" alt="teamwork">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" pt-5 ">
      <div class="card  card-services animatable bounceInRight">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="../../assets/img/photo-1587912659210-c1cf136d4438.jpg" class="card-img" alt="teamwork">
          </div>
        </div>
      </div>
    </div>
    <div class=" pt-5 ">
      <div class="card  card-services animatable bounceInLeft">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../assets/img/photo-1581351419631-bd83b0daa234.jpg" class="card-img" alt="teamwork">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5"></div>
</section>
<!-- end of About us Section -->
