.home{
 background-image: url('../../assets/img/home-img.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 100%;
 clip-path: ellipse(80% 105% at 50% -10%);
}

.cover-home{
    background-color: #3935355c;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.titel{
    color: #fff;
    text-align: center;
    font-size: x-large;
    font-family: cursive;
    text-transform : uppercase;
    padding: 17%;
}
.titel > h1 > p {
  font-size: small;
}
 .portfolio-experiment a {
	 color: white;
	 padding: 0.7em calc(0.7em * 1.2);
	 display: inline-block;
	 border: 3px solid transparent;
	 position: relative;
	 font-size: 1.5em;
   cursor: pointer;
   text-decoration: none;
	 letter-spacing: 0.07em;
}
 .portfolio-experiment a .text {
	 font-family: proxima-nova, monospace;
	 transform: translate3d(0, 0.7em, 0);
	 display: block;
	 transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
 .portfolio-experiment a:after {
	 position: absolute;
	 content: '';
	 bottom: -3px;
	 left: calc(0.7em * 1.2);
	 right: calc(0.7em * 1.2);
	 height: 3px;
	 background: #aa1429;
	 transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
	 transform-origin: left;
}
 .portfolio-experiment .line {
	 position: absolute;
	 background: #aa1429;
}
 .portfolio-experiment .line.-right, .portfolio-experiment .line.-left {
	 width: 3px;
	 bottom: -3px;
	 top: -3px;
	 transform: scale3d(1, 0, 1);
}
 .portfolio-experiment .line.-top, .portfolio-experiment .line.-bottom {
	 height: 3px;
	 left: -3px;
	 right: -3px;
	 transform: scale3d(0, 1, 1);
}
 .portfolio-experiment .line.-right {
	 right: -3px;
	 transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
	 transform-origin: top;
}
 .portfolio-experiment .line.-top {
	 top: -3px;
	 transition: transform 0.08s linear 0.43s;
	 transform-origin: left;
}
 .portfolio-experiment .line.-left {
	 left: -3px;
	 transition: transform 0.08s linear 0.51s;
	 transform-origin: bottom;
}
 .portfolio-experiment .line.-bottom {
	 bottom: -3px;
	 transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
	 transform-origin: right;
}
 .portfolio-experiment a:hover .text, .portfolio-experiment a:active .text {
	 transform: translate3d(0, 0, 0);
	 transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
 .portfolio-experiment a:hover:after, .portfolio-experiment a:active:after {
	 transform: scale3d(0, 1, 1);
	 right: -3px;
	 left: -3px;
	 transform-origin: right;
	 transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
 .portfolio-experiment a:hover .line, .portfolio-experiment a:active .line {
	 transform: scale3d(1, 1, 1);
}
 .portfolio-experiment a:hover .line.-right, .portfolio-experiment a:active .line.-right {
	 transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
	 transform-origin: bottom;
}
 .portfolio-experiment a:hover .line.-top, .portfolio-experiment a:active .line.-top {
	 transition: transform 0.08s linear 0.4s;
	 transform-origin: right;
}
 .portfolio-experiment a:hover .line.-left, .portfolio-experiment a:active .line.-left {
	 transition: transform 0.08s linear 0.48s;
	 transform-origin: top;
}
 .portfolio-experiment a:hover .line.-bottom, .portfolio-experiment a:active .line.-bottom {
	 transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
	 transform-origin: left;
}
/* news */
.carousel {
    position: relative;
    padding: 35px;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #0009;
    background-color: rgb(174 144 92);
    border: 1px solid #aa1429;
    border-radius: 10px;
}
.carousel-control.left {

    background-image: linear-gradient(to right,rgb(250 175 175) 0,rgba(0,0,0,.0001) 100%);
  }
  .carousel-control.right {

    background-image: linear-gradient(to left,rgb(250 175 175) 0,rgba(0,0,0,.0001) 100%);
  }
    .style-title{
        padding: 15px;
  }
   @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
/* About Section  */
.card-services{
  border: none;
}
/* Images effects  */
.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}
.bg-grey{
  background-color: #aa142912;
}
/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 5%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #aa1429ad;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: -85px;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


figure.effect-bubba {
	background: #9e5406;
}

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
