<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<section>
  <div class=" home">
    <div class="cover-home">
      <!--Home Section-->
      <div class="titel">
        <h1 data-aos="fade-up"> Phaedra Botanicals
          <p>Skincare company - natural cosmetics</p>
        </h1>

        <div class="portfolio-experiment">
          <a [routerLink]="['/products']"><span class="text">Our products</span>
            <span class="line -right"></span>
            <span class="line -top"></span>
            <span class="line -left"></span>
            <span class="line -bottom"></span></a>
        </div>
      </div>
      <div data-aos="fade-up"></div>
      <!--end of Home Section-->
    </div>
  </div>
</section>

<!-- About us Section -->
<section>
  <h2 class="style-title">Our News !</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"This company is the best. I am so happy with the result!"<br><span>Lorem, ipsum dolor sit amet consectetur
            adipisicing elit.</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span>Amna MAMMER</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with our product?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container about-us">
    <div class=" pt-5 services ">
      <div class="card  card-services animatable bounceInLeft">
        <div class="row no-gutters">
          <div class="col-md-4 grid">
            <figure class="effect-bubba">
              <img src="../../assets/img/photo-1578426720323-6d3b67133446.jpg" class="card-img" alt="teamwork">
              <figcaption>
                <h2>Name <span>product</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Name <span>product</span></h2>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" pt-5 ">
      <div class="card  card-services animatable bounceInRight">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Name <span>product</span></h2>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="col-md-4 grid">
            <figure class="effect-bubba">
              <img src="../../assets/img/photo-1587912659210-c1cf136d4438.jpg" class="card-img" alt="teamwork">
              <figcaption>
                <h2>Name <span>product</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class=" pt-5 ">
      <div class="card  card-services animatable bounceInLeft">
        <div class="row no-gutters">
          <div class="col-md-4 grid">
            <figure class="effect-bubba">
              <img src="../../assets/img/photo-1581351419631-bd83b0daa234.jpg" class="card-img" alt="teamwork">
              <figcaption>
                <h2>Name <span>product</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#">View more</a>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Name <span>product</span></h2>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pt-5"></div>
</section>
<!-- end of About us Section -->
